<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-9">
    <h1>Stock Transactions</h1>
  </div>
  <div class="col-md-3">
    <%= link_to 'New Stock Transaction', new_stock_transaction_path, class: 'btn btn-success' %>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Product</th>
      <th>Transaction type</th>
      <th>Quantity</th>
      <th>Transaction date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stock_transactions.each do |stock_transaction| %>
      <tr>
        <td><%= stock_transaction.product.name %></td>
        <td><%= stock_transaction.transaction_type %></td>
        <td><%= stock_transaction.quantity %></td>
        <td><%= stock_transaction.transaction_date %></td>
        <td><%= link_to 'Show', stock_transaction, class: 'btn btn-primary' %></td>
        <td><%= link_to 'Edit', edit_stock_transaction_path(stock_transaction), class: 'btn btn-primary' %></td>
        <td><%= link_to 'Delete', stock_transaction, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
